{% extends 'base.html' %}

{% block title %}Available Questionnaires{% endblock %}

{% block content %}
<div class="container">
    <h1>Available Questionnaires</h1>
    <ul>
        {% for slug, questionnaire in questionnaires.items() %}
        <li>
            <h2>{{ questionnaire.name }}</h2>
            <p>{{ questionnaire.sections.keys()|join(', ') }}</p>
            <a href="{{ url_for('user.fill_questionnaire', questionnaire_slug=slug) }}" class="btn btn-primary">View and Fill Out</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
