{% extends 'base.html' %} <!-- Inherit from base.html -->

{% block title %}Physiotherapist Interface{% endblock %} <!-- Set the page title -->

{% block content %}
<!-- physio.html -->
<div class="container">
    <h1>Select a Questionnaire to Generate a QR Code</h1>
    <ul>
        <li>
            <!-- Link to generate a QR code for the KOOS questionnaire -->
            <a href="{{ url_for('generate_qr', evaluation_form='koos') }}">KOOS Questionnaire</a>
        </li>
        <!-- Add more questionnaires as needed in the future -->
    </ul>
</div>

{% endblock %}
